*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(241, 18, 193, 0.945);
    color: white;
    text-align: center;
    padding: 5px 0;
}

main {
    padding: 0px;
    text-align: center;
}

.conteu {
    background-color: rgba(241, 110, 213, 0.863);
    padding: 30px;
    margin: 0px 0;
}

.conteu1 h2 {
    color: rgb(241, 18, 193);
    padding-bottom: 0px;
}

.conteu1 {
    color: rgba(3, 2, 3, 0.979);
    background-color: white;
    padding: 35px;
    margin: 0 0;
}

.line {
    display: flex;
    width: 175px;
    border-bottom: 3px solid rgb(241, 18, 193);
    padding-bottom: 5px;
    margin-left: 44.5%;
    margin-bottom: 15px;
    justify-content:center;
    align-items: center;
}

.line1 {
    display: flex;
    width: 100px;
    border-bottom: 3px solid rgb(241, 18, 193);
    padding-bottom: 5px;
    margin-left: 47%;
    justify-content:center;
    align-items: center;
}

.team {
    margin: 20px 0;
    color: rgba(241, 18, 193, 0.945);
    background-color: white;
    padding: 60px;
    margin: 0 0;
}

.team h2 {
    color: rgba(241, 18, 193, 0.945);
}

.menbro {
    display: inline-block;
    width: 30%;
    margin: 10px;
    text-align: center;
}

.avatar {
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.team1 {
    background-image: url('tec.png');
}

.team2 {
    background-image: url('edu.png');
}

.team3 {
    background-image: url('cont.png');
}

.menbro p {
    margin: 10px 0 5px;
    font-weight: bold;
}

.menbro span {
    color: rgba(241, 18, 193, 0.945);
}

footer {
    background-color: rgba(241, 18, 193, 0.945); 
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
